html {
    height: 100%;
}

body {
    background: url('/media/homepage-store-interior.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato', sans-serif;
}

.body-overlay {
    background-color: rgba(255,255,255,0.8); /* White background with opacity */
}

/* From Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Buttons */
.shop-now-button {
    background: #6a1b9a;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #6a1b9a;
    color: white;
}

.btn-outline-black {
    background: white;
    color: #6a1b9a
    border: 2px solid #6a1b9a;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #4a148c;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Category Badge */
a.category-badge > span.badge:hover {
    background: #6a1b9a !important;
    color: #fff !important;
}

/* Scroll to Top Button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #6a1b9a;
    border-radius: 50%;
    color: white;
}

/* Input Placeholder */
input[name='q']::placeholder {
    color: #aab7c4;
}

/* Toast Notifications */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Arrow Styles */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #6a1b9a;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Form Styles */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #6a1b9a;
    border-radius: 0;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    background-color: #6a1b9a;
    border: 1px solid #6a1b9a;
    color: white;
    padding: .375rem .75rem;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {  
    background-color: #4a148c;
    border-color: #4a148c;
}

.allauth-form-inner-content a {
    color: #6a1b9a;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #6a1b9a;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #6a1b9a;
    border-color: #6a1b9a;
    border-radius: 0;
}

footer {
    width: 100%;
    height: calc(88px -100vh);
    position: fixed;
    bottom: 0px;
    background-color: #6a1b9a;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

/* Fixed Top Navbar */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}