<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Packs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=html" class="dropdown-item">HTML</a>
                <a href="{% url 'products' %}?category=css" class="dropdown-item">CSS</a>
                <a href="{% url 'products' %}?category=javascript" class="dropdown-item">JavaScript</a>
                <a href="{% url 'products' %}?category=python" class="dropdown-item">Python</a>
                <a href="{% url 'products' %}?category=html,css,javascript,python" class="dropdown-item">All Card Packs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="blog-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blog-link">
                <a href="{% url 'blog' %}" class="dropdown-item">Blog Posts</a>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="promotion-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Links
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="promotion-link">
                <a href="../media/coders_cards_facebook_page.png" target="_blank" rel="noopener" class="dropdown-item">Facebook</a>
                <a href="https://dublincomiccon.com/wcs-type/gaming-tcg-gaming-dd/" rel="noopener" target="_blank" class="dropdown-item">Dublin ComicCon</a>
            </div>
        </li>
    </ul>
</div>